tbody {
	
    .answer{
        color: rgba(255, 255, 255, 0);
        &:hover{
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.answerCard{
    color: rgba(255, 255, 255, 0);
    &:hover{
        color: rgba(44, 7, 255, 1);
    }
}